/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,300;0,400;0,500;1,100&display=swap');

/* NORMALIZACIÓN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* VARIABLES */

:root {
    /* colores */
    --amarillo: #eac926;
    --azul: #03264c;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    --negro: #000000;
    --blanco: #ffffff;
    --azul-claro: #2CA596;
    --verde-claro: #ddf396;
    --verde-fuerte: #c8ee3d;
    --rojo: #fe1500;
    --lemon: #fef800;
    --cyber-yellow: #fed525;
    --scarlet: #fe2a00;
    --honey-yellow: #FEB404;
    --dark-organge: #FE8603;
    --text-sm: 1.2em;
    --text-md: 1.6em;
    --text-lg: 1.8em;
    --title-md: 2.4em;
    /* familias de fuentes */
    --roboto: "Roboto", sans-serif;
  }

  body{
    background-color: var(--blanco)
  }

  /* ESTILOS COMUNES */

  html {
    font-size: 62.5%;
    font-family: var(--roboto);
}

h2 {
    font-size: var(--title-md);
}


/* CABECERA */

header{
    background-color: var(--negro);
    
}

/* redes */
.redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    list-style-type: none;
    padding: 8px;
}

.redes ul li {
    display: inline-block;
    margin: 0 15px;
}

.redes ul li a {
    display: block;
    padding: 0 10px;
    /* background: var(--negro); */
    color: var(--blanco);
    font-size: 30px;
    width: 47px;
}

/* top header */

.top-header {
    display: flex;
    padding: 5%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 13%;
}



/* logo */
.top-header picture a img {
    border: 2px black;
    width: 84px;
}

/* barra de busqueda */

button,
input {
  background-color: white;
  border: 7px solid white;
  border-radius: 2px;
}

/* carrito */

.carrito a i {
    color: var(--blanco);
    font-size: 30px;
}

.carrito a i:hover {
    background-color: var(--blanco);
    color: var(--negro);

}

/* nav bar */

header nav {
    display: none;
}

/* burger menu */

div.burger-menu {
    text-align: center;
}

div.burger-menu i {
    color: var(--blanco);
    font-size: 40px;
    /*height: 40px;*/
    /*width: 40px;*/
    margin: 10px 0 20px 0;
    padding: 10px;
}

div.burger-menu i:hover {
    background-color: var(--blanco);
    color: var(--negro);
    border-radius: 10px;
}

/* banner */

section.banner img {
    width: 100%;
}


/* main */

main {
    width: 90%;
    margin: 0 auto;
}

.profile {
    padding-bottom: 20px;
}

.title-profile {
    margin-top: 10%;
}

.img-profile {
    padding: 10px 10px 10px 10px;
}

.email-profile {
    padding: 10px 10px 10px 20px;
    font-size: var(--text-lg);
    background-color: var(--verde);
}

/********Create*******/

.create {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.titulo {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    flex: 0 0 100%;
    max-width: 100%;
}

.formulario {
    background-color: var(--blanco);
    border-radius: 8px;
    overflow: hidden;
}

.in-forms {
    flex: 0 0 100%;
    max-width: 100%;
}

.form-button {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.form-label {
    display: inline-block;
    font-size: 1.6em;
    margin: 10px 0;
}

.form-input {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border-radius: 8px;
    border: none;
    border: solid 1px var(--negro);
    padding: 0 15px;
}

.boton-form {
    background-color: var(--scarlet);
    font-size: 1.6em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
}

/* footer */

footer {
    background-color: var(--negro);
}

footer section p {
    padding: 20px;
    text-align: center;
}

footer section ul {
    text-align: center;
    margin: 10px 0 20px 0;
}

footer section ul li {
    text-align: center;
    color: var(--blanco);
}

footer section ul li a{

    color: var(--blanco);
    text-decoration: none;
}

footer h3 {
    color: var(--blanco);
    text-align: center;
}

footer p {
    color: var(--blanco);
}

@media (min-width: 769px) {
    .top-header {
        display: flex;
        padding: 5%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8%;
        align-items: center;
    }
    
    
    
    /* logo */
    .top-header picture a img {
        border: 2px black;
        width: 149px;
    }
    
    /* barra de busqueda */
    
    .search {
        background-color: white;
        border: 7px solid white;
        border-radius: 2px;
      }
  
      .form {
          width: 63%;
          display: flex;
          justify-content: center;
      }
  
      header form input {
          
          width: 100%;
      }
      
      /* carrito */
      
      .carrito a i {
          color: var(--blanco);
          font-size: 30px;
      }
  
      /* nav bar */
  
      .nav-bar {
          display: flex;
          font-size: var(--title-sm);
          justify-content: space-between;
          padding: 0px 80px 30px 53px;
      }
  
      header ul li a {
          text-decoration: none;
          color: var(--blanco);
          font-size: 20px;
          
      }
  
      header ul {
          display: flex;
      }
  
      header li {
          margin: 9px;
      }
      
      /* burger menu */
      
      .burger-menu {
          display: none;
      }

    /* footer */

    footer div.info-footer {
        display: flex;
        gap: 14%;
        margin: 0 10px 0 20px;
        padding-top: 25px;
    }

    footer div section {
       align-items: center;
    }

    footer div section h3 {
        font-size: 17px;
    }

    footer div section ul {
        list-style-type: none;
        font-size: 15px;
    }

    footer div section p {
        font-size: 15px;
    }
}