<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computadores y partes</title>
    <script src="https://kit.fontawesome.com/b015b12a73.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <!-- Header -->
    <%- include('partials/header') %> 
	<!-- /Header -->
    <section class="banner">
        <img src="../img/images.jpg" alt="banner">
    </section>
    <main>

        <section>
            <div class="products-destacado">
                <div class="title">
                    <h2>Destacado</h2>
                </div>
            </div>
        </section>
        <section>
            <h2>Ofertas</h2>
            <div class="products-ofertas">
            </div>
        </section>
        <section>
            <h2>Recientes</h2>
            <div class="products-ofertas">
            </div>
        </section>
    </main>
    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>
</html>