<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b015b12a73.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/login.css">
    <title>Iniciar sesión</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <form action="/users/login" method="post">
            <h2>Acceder a la cuenta</h2>
            <div>
                <input type="email "name="email" placeholder="E-mail">
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %> 
                    </div>
                <% } %>
                <input type="password" name="clave" placeholder="Contraseña">
                <div class="remenber">
                    <input type="checkbox" name="remenber"><p>Recordar usuario</p>
                </div>
                <div class="btn">
                    <input type="submit" value="iniciar sesión">
                </div>
                <p>¿No tienes cuenta? <a href="/register">Registrate</a></p>
            </div>
        </form>
    </main>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>