<footer>
    <div class="info-footer">
        <section>
            <h3>Info de la empresa</h3>
            <ul>
                <li>Telefono</li>
                <li>Correo</li>
                <li>Ubicación</li>
            </ul>
        </section>
        <section>
            <h3>Enlases</h3>
            <ul>
                <li>
                    <a href="#">Inicio</a>
                </li>
                <li>
                    <a href="#">Tienda</a>
                </li>
                <li>
                    <a href="#">Oferta</a>
                </li>
            </ul>
        </section>
        <section>
            <h3>Empresa</h3>
            <p>isesdeqafadkfadjiodjvidovon</p>
        </section>
        <section>
            <h3>Metodos de pago</h3>
            <ul>
                <li>Efecty</li>
                <li>Bancolombia</li>
                <li>Nequi</li>
            </ul>
        </section>
    </div>
    <div>
        <p class="copy">© 2021 Company, Inc. All rights reserved.</p>
    </div>
</footer>