<header>
    <!--Barra de redes-->
    <div class="redes">
        <ul>
            <li>
                <a href="https://www.facebook.com/">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>
        </ul>
    </div>
    <!--top header-->
    <div class="top-header">
        <picture class="logo">
            <a href="/">
                <img src="../img/leon.svg" alt="logo pagina">
            </a>
        </picture>
        <form class="form" action="#" method="get">
            <input type="text" name="busqueda" placeholder="Buscar">
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <div class="carrito">
            <a href="#">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
    </div>
    <!--nav bar-->
    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="#">Tienda</a>
            </li>
            <li>
                <a href="#">Oferta</a>
            </li>
            <li>
                <a href="#">Categoria
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/users/register">Crear cuenta</a>
            </li>
            <li>
                <a href="/users/login">Ingresar</a>
            </li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fa-solid fa-bars"></i>
    </div>
</header>