<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computadores y partes</title>
    <script src="https://kit.fontawesome.com/b015b12a73.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/style.css">
</head>